.container {
    padding: 0%;
    margin:0%;
    
}

h4, p{
    margin: 0%;
}

.row {
    margin: 0%;
}


.bg {
   background-color: #283442;
}


.img-thumbnail {
    display: block;
    margin: auto;
    width: 15rem;
    border: 2px solid #4256C7;
    border-radius: 100%;
}

.display-6 {

    font-size: 2rem;
    text-align: center;
    font-weight: 400;
}

.icons {
    padding: 2rem 0rem;
}


.para  {
    padding-top: 0.1rem;
    text-align: center;
    font-size: 1.1rem;
}


.icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1rem;
    padding-left: 2rem;

}

.icon-title{
    padding-left: 2rem;
}





a:hover {
    color: #4256C7;
}

.btn {
    border: 2px solid #4256C7;
}


.edu {
    display: none;
}



.exp {
    display: none;
}

.skill {
    display: none;
}